@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  /* Palette */
  --color-primary: #fa812f;
  --color-secondary: #fab12f;
  --color-accent: #fa4032;
  --color-background: #fef3e2;

  /* Text color */
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #4a4a4a;
  --color-text-accent: #eaeaea;
}

/* Leaflet画像パス修正 */
.leaflet-container {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}

.leaflet-tile-container {
  transition: opacity 0.2s;
}

.leaflet-tile {
  opacity: 1;
}
