@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  /* Palette */
  --color-primary: #fa812f;
  --color-secondary: #fab12f;
  --color-accent: #fa4032;
  --color-background: #fef3e2;

  /* Text color */
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #4a4a4a;
  --color-text-accent: #eaeaea;
}
